flypaygetchequeprocess/src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router" />
    <http:request-config name="HTTP_Request_Configuration" host="discountcalculator.cloudhub.io" port="80" basePath="/api" doc:name="HTTP Request Configuration" />
    <http:request-config name="HTTP_Request_Configuration1" host="microscheque.cloudhub.io" port="80" basePath="/api" doc:name="HTTP Request Configuration" />
    <http:request-config name="HTTP_Request_Configuration2" host="localhost" port="8080" basePath="/nowt" doc:name="HTTP Request Configuration"/>
    <http:request-config name="DynamicPOSAPI" host="#[flowVars.connection]" port="80" basePath="/api" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="http://microscheque.cloudhub.io/api"/>
    </http:request-config>
    <http:request-config name="HTTP_Request_Configuration4" host="discountcalculator.cloudhub.io" port="80" basePath="/api" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="http://discountcalculator.cloudhub.io/api"/>
    </http:request-config>
    <http:request-config name="HTTP_Request_Configuration5" host="getposdetails.cloudhub.io" port="80" basePath="/api" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="http://getposdetails.cloudhub.io/api"/>
    </http:request-config>
    <http:request-config name="HTTP_PopulatePOS" host="populateposdetails.cloudhub.io" port="80" basePath="/api" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="http://populateposdetails.cloudhub.io/api"/>
    </http:request-config>
    <api-platform-gw:api apiName="Flypay Get Cheque Process" version="1.0" flowRef="api-main" create="true" apikitRef="api-config" doc:name="API Autodiscovery">
        <api-platform-gw:description>Get Cheque Process</api-platform-gw:description>
    </api-platform-gw:api>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="api-config" doc:name="APIkit Router" />
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="api-config" doc:name="APIkit Console" />
    </flow>
    <flow name="get:/cheque:api-config">
        <dw:transform-message doc:name="Store Table ID" metadata:id="a1976a26-4a64-4552-9021-6fcaee9c7483">
            <dw:set-variable variableName="tableId"><![CDATA[%dw 1.0
%output application/java
---
inboundProperties."http.query.params".tableId]]></dw:set-variable>
        </dw:transform-message>
        <object-to-string-transformer doc:name="Object to String"/>
        <http:request config-ref="HTTP_Request_Configuration5" path="/posDetails" method="GET" doc:name="Get POS Type API">
            <http:request-builder>
                <http:query-param paramName="posType" value="#[message.inboundProperties.'http.query.params'.posType]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Store Connection API &amp; Money Format" metadata:id="4ce49363-d559-432e-8995-2a6b864db0f1">
            <dw:set-variable variableName="connection"><![CDATA[%dw 1.0
%output application/java
---
payload[0].connectionAPI]]></dw:set-variable>
            <dw:set-variable variableName="moneyFormat"><![CDATA[%dw 1.0
%output application/java
---
payload[0].moneyFormat]]></dw:set-variable>
        </dw:transform-message>
        <http:request config-ref="DynamicPOSAPI" path="/cheque" method="GET" doc:name="Dynamic POS Call API">
            <http:request-builder>
                <http:query-param paramName="tableId" value="#[flowVars.tableId]"/>
            </http:request-builder>
        </http:request>
        <http:request config-ref="HTTP_Request_Configuration4" path="/discount" method="POST" doc:name="Calculate Discount API"/>
        <async doc:name="Update Database Asynchronously">
            <http:request config-ref="HTTP_PopulatePOS" path="/populateDatabase" method="POST" doc:name="Update Database"/>
        </async>
        <logger message="Retrieved details " level="INFO" doc:name="Log Complete"/>
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
